{% extends 'customers/basic.html'%}

{%block content%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <h1>Customer Page</h1>
   
   
   {% if cust %}
   
   <table class="table table-bordered" border="1">
   
    <tr>
        <th>Name</th> 
        <th>Pri. Mobile</th>
        <th>Alt. Mobile</th>
        <th>Email</th>
        <th>Address</th>
        <th>Zip Code</th>
        <th>Connection Type</th>
        <th>Inst. Charges</th>
        <th>Cat 6 Cable length</th>
        <th>P2p device price</th>
        <th>City</th>
        <th>State</th>
        <th>Wireless router price</th>
        <th>Fith fiber length</th>
        <th>Closer Box</th>
        <th>Patch cord</th>
        <th>Ftth router price</th>        
        <th>Username</th>
        <th>Password</th>
        <th>Customer photo</th>
        <th>KYC document</th> 
     </tr>
    {% for cs in cust %}
    <tr>
        
    
    <td>{{cs.name}}</td>
    <td>{{cs.primary_mobile}}</td>
    <td>{{cs.alternate_mobile}}</td>
    <td>{{cs.email}}</td>
    <td>{{cs.address}}</td>
    <td>{{cs.zipcode}}</td>
    <td> {{cs.connection_type}}</td>
    <td>{{cs.installation_charges}}</td> 
     <td>{{cs.cat_6_cable_length}}</td>
    <td>{{cs.p2p_device_price}}</td>
    <td>{{cs.city}}</td>
    <td>{{cs.state}}</td>
    <td>{{cs.wireless_router_price}}</td>
    <td>{{cs.ftth_fiber_length}}</td>
    <td>{{cs.closer_box}}</td>
    <td>{{cs.patch_cord}}</td>
    <td>{{cs.ftth_router_price}}</td>
    <td>{{cs.username}}</td>
    <td>{{cs.password}}</td>
    <td>{{cs.customer_photo}}</td>
    <td>{{cs.kYC_document}}</td> 
   </element>
   </tr> 






    {% endfor %}
    
  </table> 



   <{% else %}
   <h2>No Data</h2>
   {% endif %}

   


    


   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>


    
{%endblock%}
  </body>
</html>



