{% extends 'customers/basic.html'%}

{% block title%} View Customer{% endblock %}
{%block content%}
<div class="container my-4">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <img src="../media/{{cs.customer_photo}}" width="233px" height="233px">
            </div>
        </div>
        <div class="col-md-8">
            <h4>Name</h4>
            <h6>{{cs.name}}</h6>
            <p>{{cs.alternate_mobile}}</p>
        </div>
    </div>
</div>




{% comment %} ____________________________________________________ {% endcomment %}
{% comment %}  
            <h4>Name:</h4> {{cs.name}}</p>
            <h4>Pri Mobile:</h4> {{cs.primary_mobile}}</p>
            <h4>Alt. Mobile: </h4>{{cs.alternate_mobile}}</p>
            <h4>Email:</h4> {{cs.email}}</p>
            
            <h4>Address:</h4> <p>{{cs.address}}</p>
            <h4>City:</h4> {{cs.city}}</p>
            <h4>State:</h4> {{cs.state}}</p>
            <h4>Zip Code:</h4> {{cs.zipcode}}</p>
            <h4>Connection Type:</h4> {{cs.connection_type}}</p>
            <h4>Cat 6 Cable length:</h4> {{cs.cat_6_cable_length}}</p>
            <h4>P2P Device Price:</h4> {{cs.p2p_device_price}}</p>
            <h4>Wireless Router Price:</h4> {{cs.wireless_router_price}}</p>
            <h4>FTTH Fiber Length:</h4> {{cs.ftth_fiber_length}}</p>
            <h4>Closer Box:</h4> {{cs.closer_box}}</p>
            <h4>Patch Cord:</h4> {{cs.patch_cord}}</p>
            <h4>FTTH Router Price:</h4> {{cs.ftth_router_price}}</p>
            <h4>Inst. Charges:</h4> {{cs.installation_charges}}</p> {% endcomment %}
            
 
{%endblock%}