<table class="table table-light table-bordered table-striped">
    <tbody>
    <tr>
        <th>Name</th>
        <td>{{cs.name}}</td>
    </tr>
    <tr>
        <th>Pri. Mobile</th>
        {{cs.primary_mobile}} 
    </tr>
    <tr>
        <th>Alt. Mobile</th>
        {{cs.alternate_mobile}}
    </tr>
    <tr>
        <th>Email Id</th>
        {{cs.email}}
    </tr>
    <tr>
        <th>Address</th>
        {{cs.address}}
    </tr>
    <tr>
        <th>Zip Code</th>
        {{cs.zipcode}}
    </tr>
    <tr>
        <th>Connection Type</th>
        {{cs.connection_type}}
    </tr>
    <tr>
        <th>Inst. Charges</th>
        {{s.installation_charges}}
    </tr>
    <tr>
        <th>Cat 6 Cable length</th>
        {{cs.cat_6_cable_length}}
    </tr>
    <tr>
        <th>P2p device price</th>
        {{cs.p2p_device_price}}
    </tr>
    <tr>
        <th>City</th>
        {{cs.city}}
    </tr>
    <tr>
        <th>State</th>
        {{cs.state}}
    </tr>
    <tr>
        <th>Wireless router price</th>
        {{cs.wireless_router_price}}
    </tr>
   
    <tr>
        <th>Ftth fiber length</th>
        {{cs.ftth_fiber_length}}
    </tr>
    <tr>
        <th>Closer Box</th>
        {{cs.closer_box}}
    </tr>
    <tr>
        <th>Patch cord</th>
        {{cs.patch_cord}}
    </tr>
    <tr>
        <th>Ftth router price</th>
        {{cs.ftth_router_price}}     
    </tr>
    <tr>
        <th>Username</th>
        {{cs.username}}
    </tr>
    <tr>
        <th>Password</th>
        {{cs.password}}
    </tr>
    <tr>
        <th>Customer photo</th>
        {{cs.customer_photo}}
    </tr>
    <tr>
        <th>KYC document</th>
        {{cs.kYC_document}}
    </tr>
</tbody>
</table>


