{% extends 'customers/basic.html'%}
{% block title%}SignOut {% endblock %}

{%block content%}
  <div class='container'>
    <div class='row mt-5'>
      <div class='col-md-6 offset-md-3'>
        <div class='border p-3 bg-white'>
            <h3>Logout Page</h3>
            <hr>
            <div class='alert alert-success'>
                <h4>You have successfully logged out</h4>
            </div>
            <a href='http://127.0.0.1:8000'>Login</a>
        </div>
      </div>
    </div>
  </div>
{%endblock%}