*{
  margin: 0rem 0.5rem;
}

body{
  /* background-color: ; */
}
.App {
  text-align: center;
}


.form-search{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 1rem 0 ;
}

.form-search label{
  margin-right: 1rem;
  font-size: 18px;
  font-weight: 500;
}

input[type=search]{
  padding: 1rem 3rem;
  border: 2px solid black;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
.icon{
  margin-left: 1rem;
}

.table-light th{
  cursor: pointer;
}